@import '../../scss/colors.scss';

.booking-header{
    margin-top: 7rem;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

.booking-body{
    color: black;
    .booking-container{
        background-color: white;
        margin: 1rem 0;
        border-radius: 8px;
        padding:0.5rem;
        border: 1px solid $PRIMARY_COLOR;

        p{
            margin: 0.3rem 0;
        }

        .booking-details-button{
            padding: 0.5rem;
            border: 0px;
            background-color: $PRIMARY_COLOR;
            color: white;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    .booking-container-header{
        display: flex;
        justify-content: space-between;
    }
}