@import '../../scss/colors.scss';
.image-slider{
    width: 100%;
     height: 90%;
}

.img{
    margin-top: -80px;
    width: 100vw;
    height: 800px;
}

.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 4;
}

.image-slider{
    position: relative;
}

.order-button{
    padding: 11px;
    background-color: $PRIMARY_COLOR;
    border: none;
    margin: 2px;
    cursor: pointer;
}

.view-menu-button{
    padding: 10px;
    border: 1px solid rgb(230, 230, 230);
    background-color: transparent;
    margin: 2px;
    color: white;
    cursor: pointer;
}

.slick-arrow {
    background: white;
    box-shadow: 0px 0.2rem 1.6rem rgb(0 0 0 / 16%);
    border-radius: 3.2rem;
    height: 3.2rem;
    width: 3.2rem;
    z-index: 4;
  }

  .slider-title{
    color: white;
    margin: 2px;
    letter-spacing: 2px;
  }
  
  .slider-moral{
    color:white;
    font-family: "Poppins", Arial, sans-serif;;
  }

  .cursive-text-primary-color{
    font-family: cursive,sans-serif;
    color: $PRIMARY_COLOR;
    font-size: 2rem;
  }


  .order-and-view-menu-button-container{
     display:flex;
     justify-content: center;
     @media screen and (max-width:250px) {
                flex-direction: column;
                align-items:center;
            }
  }