
.blog-item-image{
    width: 100%;
    height: 50%;
    
}

.blog-item-container{
    width: 30%;
    font-family: "Josefin Sans", Arial, sans-serif;

    .blog-item-time,.blog-item-description{
        color: grey;
    }

    .blog-item-title{
        font-weight: 600;
        
    }
}