
.cart-item{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 1rem;
    color: black;
    padding: 0.5rem;
    gap: 2rem;
    width: 90%;
    align-self: center;

    @media screen and (min-width:400px) and (max-width:500px) {
        gap: 1rem;
      }

      @media screen and (max-width:400px) {
        gap: 0rem;
      }

    .cart-image{
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
    }
    .name-description{
        align-self: center;
        width: 30%;
    }
    .name{
        font-weight: bolder;
        font-size: larger;
        margin: 0px;
    }

    .description{
        margin: 0px;
    }

    .quantity{
        display: flex;
        align-self: center;

        .icon{
            align-self: center;
            margin: 1rem;
        }

        p{
            text-align: center;
        }

        @media screen and (max-width:500px) {
            flex-direction: column;;
          }
    }

    .price{
        align-self: center;
        p{
            margin: 0px;
            font-weight: 700;
            text-align: center;
        }

        .remove-button{
            background-color: red;
            color: white;
            border: 0px;
            padding: 2px 0.4rem;
            border-radius: 0.5rem;
        }
    }
}